<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Blog Admin Portal  This is All Blog Page</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="../../public/plugins/fontawesome/js/all.min.js"></script>
    
    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="../public/css/cards.css">

    <!-- App CSS -->  
    <!-- <link id="theme-style" rel="stylesheet" href="../public/css/style.css"> -->
    
    <!-- TinyMCA Text Editor Script -->
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    
    <script>
      tinymce.init({
        selector: 'textarea#blog-descriptions'
      });
      tinyMCE.activeEditor.setContent(data.selector);
      </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head> 

<body> 
  <header class="app-header fixed-top"> 
    <%- include('partials/nav.ejs') -%>
    <%- include('partials/menubar.ejs') -%>
  </header>


  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        
        <h1 class="app-page-title mt-3">Update Blog</h1>
        <!-- method="post" action="/blog/addblog" action="/blog/<%= result._id %>" -->

        <form enctype="multipart/form-data" id="form">
           
            <div class="form-group">
              <label for="exampleInputEmail1" >Blog Title</label>
              <input type="text" class="form-control" id="blog-title" name ="title" value="<%= result.title %>"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter blog title">
              <!-- <small id="#" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>

            <label class="mt-4">Category</label>
            <select class="form-select mb-3" name="categorys">
                <option selected value="<%= result.category %>"><%= result.category %></option>
                <% for(let i = 0 ; i< category.length ; i++) { %>
                    <% if(result.category != category[i].categorys) { %>
                    <option id="blog-category" value="<%= category[i].categorys %>"><%= category[i].categorys %></option>
                    <% } %>
                <% } %> 
            </select>
            
            <label >Description</label>
            <textarea id="blog-descriptions" class="mt-4" name="description" value=""><%= result.description %></textarea>

            
            <div class="form-group mt-4">  

                <a href="/updateImage?id=<%= result._id %>">Edit Image</a>
            </div>

            <button type="button" class="updateCourse btn btn-primary mt-4" data-id="<%=result._id%>">Submit</button>
          </form>
        
    </div><!--//container-fluid-->
</div><!--//app-content-->


     <!-- Javascript -->    
     <script src="../public/plugins/popper.min.js"></script>
     <script src="../public/plugins/bootstrap/js/bootstrap.min.js"></script>  
 
     <!-- Page Specific JS -->
     <script src="../public/js/app.js"></script> 

     <script>

$(document).ready(function () {



      
        $('.updateCourse').on('click' , function(event) {

          // toastr.info('Page Loaded!');

          const id = $(this).data('id');

            const form = document.getElementById('form');
            const formData = new FormData(form);

            let description = tinymce.activeEditor.getContent();

            const blogData = {
            };
         
            for (const [key, value] of formData) {
                   blogData[key] = value;
            }

            blogData['description'] = description;

            // $('input[type="file"]').each((file , i) => {
            //    blogData["photo"] = file;
            // })

            // console.log(blogData.photo);

            $.ajax({
                type: "put",
                url: `/blog/${id}`,
                data: blogData,
                enctype : 'multipart/form-data',
                success: function(data) {
                 
                   location.href = "/blog/getallblog";
                }
            })
            event.preventDefault();
        });

      })
   
     </script>
</body>
</html>