<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Blog Admin Portal  This is All Blog Page</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="../../public/plugins/fontawesome/js/all.min.js"></script>
    
    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="../public/css/cards.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <!-- App CSS -->  
    <!-- <link id="theme-style" rel="stylesheet" href="../public/css/style.css"> -->

     <!-- TinyMCA Text Editor Script -->
     <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
          tinymce.init({
                selector: 'textarea#blog-descriptions'
           });
    </script>

</head> 

<body> 
  <header class="app-header fixed-top"> 
    <%- include('partials/nav.ejs') -%>
    <%- include('partials/menubar.ejs') -%>
  </header>


  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        
        <h1 class="app-page-title">Update Blog</h1>
        <!-- method="post" action="/blog/addblog" action="/blog/<%= result._id %>" -->

        <form enctype="multipart/form-data" id="form">
           
            <div class="form-group">
              <label for="exampleInputEmail1" >Blog Title</label>
              <input type="text" class="form-control" id="blog-title" name ="title" value="<%= result.title %>"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter blog title">
              <!-- <small id="#" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>

            <label class="mt-4">Category</label>
            <select class="form-select mb-3" name="categorys">
                <option selected value="<%= result.category %>"><%= result.category %></option>
                <% for(let i = 0 ; i< category.length ; i++) { %>
                    <% if(result.category != category[i].categorys) { %>
                    <option id="blog-category" value="<%= category[i].categorys %>"><%= category[i].categorys %></option>
                    <% } %>
                <% } %>
            </select>
            
            <label >Description</label>
            <textarea id="blog-descriptions" class="mt-4" name="description" value=""><%= result.description %></textarea>

            
            <div class="form-group mt-4">
                <label for="blog-image">Select Image</label>
                <input type="file" class="form-control-file" id="blog-image" name="photo" value=""> 
            </div>

            <button type="submit" class="updateCourse btn btn-primary mt-4">Submit</button>
          </form>
        
    </div><!--//container-fluid-->
</div><!--//app-content-->


     <!-- Javascript -->    
     <script src="../public/plugins/popper.min.js"></script>
     <script src="../public/plugins/bootstrap/js/bootstrap.min.js"></script>  
 
     <!-- Charts JS
     <script src="assets/plugins/chart.js/chart.min.js"></script> 
     <script src="assets/js/index-charts.js"></script>  -->
     
     <!-- Page Specific JS -->
     <script src="../public/js/app.js"></script> 


     <script>

        $('.updateCourse').on('click' , function(result) {


            const form = document.getElementById('form');
            const formData = new FormData(form);

         
            for (const [key, value] of formData) {
                   console.log( `${key}: ${value}`);
            }

                $.ajax({
                   type: "PUT",
                   url: `/blog/${id}`,
                   data: id,
                   success: function(data) {
                    location.href = "/blog/getallblog";
                   }
                })
        });

   
    
     </script>
     

</body>



</html>